.container-home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-content {
  position: absolute;
  top: 30px;
  margin-left: 30px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Arial', sans-serif; /* Cambia a la fuente que desees */
  color: #FFFFFF;
}

.logo {
  width: 150px;
  height: auto;
  margin: auto;
  border-radius: 60px;
}

.welcome-text {
  /*font-size: 2.5rem; /* Aumenté el tamaño de la fuente */
  font-weight: bold;
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); /* Mayor contraste en el texto */
  margin: auto; /* Añadido margen para mejor separación */
  color: #18addefc;
}

.nav-links {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
}

.introduction{
  position: absolute;
  bottom: 1%;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.81);
  border-radius: 10px;
  color: white;
  text-align: justify;
  width: 70%;
  font-size: 15px;
}

.introduction:hover{
  width: 80%;
  font-size: large;
}

.styled-button {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(51, 50, 85) 0%, rgba(0,127,222,1) 43%, rgba(0,212,255,1) 100%);
  color: #FFFFFF !important; /* Blanco para el texto */
  padding: 12px 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: auto;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
  font-family: 'Verdana', sans-serif; /* Cambié a una fuente más moderna */
}

.styled-button:hover {
  transform: scale(1.05);
  background-color: #005f7f; /* Color más oscuro al pasar el mouse */
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #0077b6 0%, #00b4d8 100%);
}

.styled-logout-button {
  background: linear-gradient(90deg, rgb(51, 50, 85) 0%, rgba(0,127,222,1) 43%, rgba(0,212,255,1) 100%);
  color: #ffffff; /* Color de texto blanco */
  padding: 12px 25px; /* Espaciado interno */
  font-size: 1.2rem; /* Tamaño de fuente */
  border: none; /* Sin borde */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  margin-top: 20px; /* Margen superior para separación */
  transition: transform 0.2s ease-in-out, background-color 0.3s ease; /* Efecto de transición */
  font-family: 'Verdana', sans-serif; /* Fuente moderna */
}

.styled-logout-button:hover {
  transform: scale(1.05); /* Efecto de ampliación al pasar el mouse */
}


/* BookStyle.css */
.book {
  position: absolute;
  top: 670px;  /* Asegúrate de que esté en una posición visible */
  left: 20px;
  border-radius: 10px;
  width: 220px;
  height: 230px;
  background-color: rgb(0, 151, 252);
  box-shadow: 1px 1px 12px #000;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  justify-content: center;  /* Centra el contenido horizontalmente */
  align-items: center;  /* Centra el contenido verticalmente */
  color: #ffffff;
  font-family: 'Verdana', sans-serif;
}

.cover {
  position: absolute;
  background-color: rgb(0, 151, 252);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  display: flex;
  justify-content: center;  /* Centra el contenido horizontalmente */
  align-items: center;  /* Centra el contenido verticalmente */
  padding: 10px;  /* Ajusta el espacio dentro del libro */
  font-family: 'Verdana', sans-serif;
}

.book:hover .cover {
  transform: rotateY(-80deg);
}

p {
  font-size: 14px;  /* Ajuste del tamaño del texto */
  font-weight: bold;
  text-align: center;  /* Centra el texto */
  padding: 8px;
  margin: 0;  /* Elimina el margen extra */
  max-width: 90%;  /* Limita el ancho del texto para que se ajuste */
  overflow-wrap: break-word;  /* Asegura que el texto se ajuste correctamente */
  color: #ffffff;  /* Color de texto negro */
}

.cover p {
  font-size: 12px;  /* Reducción del tamaño del texto cuando el libro está cerrado */
  line-height: 1.4;  /* Espaciado entre líneas ajustado */
  text-align: justify;  /* Alinea el texto de forma justificada */
  padding: 10px;  /* Agrega espacio dentro del libro */
  color: #ffffff;  /* Color de texto negro */
}


/* From Uiverse.io by Creatlydev */
.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;

  /* Posicionar el botón en la parte inferior central */
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  left: 50%;
  transform: translateX(-50%); /* Centra el botón horizontalmente */
}

/* Efecto hover */
.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}








